<div id="app" class="armfont01">
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>
        <div class="page-heading">
            <div class="page-title">
                <div class="page-heading">
                    <h1 class="armfont01 text-center" id="fontsize">ใบเสร็จสั่งซื้อสินค้า นะจ้ะ</h1>
                </div>
            </div>
            <section class="section">
                <div class="card">
                    <div class="d-flex justify-content-around mt-3 mb-3">
                        <div></div>
                        <div>
                            <button mat-raised-button matTooltip="Print" printSectionId="content" ngxPrint>
                                <mat-icon class="text-danger">print</mat-icon>
                            </button>
                            <button mat-raised-button matTooltip="PDF" class="ml-2" (click)="OrderPDF()">
                                <i class="fas fa-file-pdf text-danger"></i>
                            </button>
                            <button mat-raised-button (click)="back()" class="ml-2" color="warn">กลับ</button>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex justify-content-center mt-6">
                            <div class="b">
                                <div #content id="content">
                                    <div class="text-center mb-5" id="fontsize">
                                        Product Receipt
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div class="fontsize01">Service Provider</div>
                                            <div class="mt-2">Chok Wassana Stone Shop</div>
                                            <div class="mt-2">Tel. 061-6032203 </div>
                                            <div class="mt-2">Bill Opening Date : {{dateOpen|date:"dd/mm/yyyy"}} </div>
                                        </div>
                                        <div>
                                            <div class="fontsize01">Customer Details</div>
                                            <div class="mt-2">ID : {{DataOrder.idUserNavigation.id}}</div>
                                            <div class="mt-2">Name : {{DataOrder.idUserNavigation.name}}</div>
                                            <div class="mt-2">Tel. {{DataOrder.idUserNavigation.tel}} </div>
                                            <div class="mt-2">Order Date : {{DataOrder.date|date:"dd/mm/yy"}} </div>
                                            <div class="mt-2">payment status : {{DataOrder.statusMoney?"succeed":"failed"}} </div>
                                        </div>
                                    </div>
                                    <table class="table mt-8 w-100">
                                        <thead class="table-dark">
                                            <tr>
                                                <th scope="col">IDProduct</th>
                                                <th scope="col">NameProduct</th>
                                                <th scope="col">NumberProduct</th>
                                                <th scope="col">PriceProduct</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let i of DataList">
                                                <th scope="row">{{i.idProduckNavigation.id}}</th>
    
                                                <td>{{i.idProduckNavigation.name}}</td>
                                                <td>
                                                    {{i.numberProduct}}
                                                </td>
                                                <td>฿ {{i.priceProduct}}</td>
    
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="mt-8">
                                        <div class="a m-auto">
                                            <div class="d-flex justify-content-between">
                                                <div>Total Price : </div>
                                                <div>
                                                    <strong>
                                                        ฿ {{DataOrder.priceTotal}}
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start armfont01">
                    <p class="armfont01">2021 &copy; โชควาสนา</p>
                </div>
            </div>
        </footer>
    </div>
</div>
<div class="text-center">
    Product Receipt
</div>
<div class="d-flex justify-content-between">
    <div>
        <div>
            BBBBBBBBBBBBB
        </div>
    </div>
    <div>
        <div>
            NNNNNNNNNN
        </div>
    </div>
</div>
<!-- {{i.idProduckNavigation.image}} -->