@font-face {
    font-family: arm;
    src: url(../../../../../assets/fonts/Adminfont.ttf) format("opentype");
  }
  @font-face {
    font-family: armX2;
    src: url(../../../../../assets/fonts/tahomo.ttf) format("opentype");
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
}
.armfontX2 {
  font-family: 'armX2', 'arial', sans-serif;
}
.armfont {
  font-family: 'arm', 'arial', sans-serif;
}
  .armfont01 {
      font-size: 20px;
    font-family: 'arm', 'arial', sans-serif;
  }
  .armfont02 {
    font-size: 23px;
    font-family: 'arm', 'arial', sans-serif;
  }
  #fontsize{
    font-size: 70px;
  }
#fontsize01{
    font-size: 30px;
}
.cardarm {
    width: 320px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0;
}

.example-card {
  max-width: 550px;
}